@import 'tailwindcss';

@layer components {
  /* Tailwind component classes */
  .btn-default {
    background-color: rgb(104, 132, 194);
    @apply cursor-pointer
      px-4
      py-2
      text-white
      font-semibold
      rounded-lg
      shadow-lg
      hover:bg-blue-700
      transition-colors
      focus:outline-none
      focus:ring-2
      focus:ring-blue-500
      focus:ring-offset-2
      flex
      items-center
      justify-center
      gap-2
      w-full
      sm:w-auto
      whitespace-nowrap;
  }

  .btn-secondary {
    background-color: rgb(0, 0, 0);
    @apply cursor-pointer
      px-4
      py-2
      text-white
      font-semibold
      rounded-lg
      shadow-lg
      hover:bg-gray-800
      transition-colors
      focus:outline-none
      focus:ring-2
      focus:ring-gray-500
      focus:ring-offset-2
      flex
      items-center
      justify-center
      gap-2
      w-full
      sm:w-auto
      whitespace-nowrap;
  }

  .btn-disabled {
    background-color: rgb(229, 231, 235);
    @apply cursor-pointer
      px-4
      py-2
      text-gray-700
      font-semibold
      rounded-lg
      shadow-lg
      hover:bg-gray-300
      transition-colors
      focus:outline-none
      focus:ring-2
      focus:ring-gray-500
      focus:ring-offset-2
      flex
      items-center
      justify-center
      gap-2
      w-full
      sm:w-auto
      whitespace-nowrap;
  }
}