@import 'tailwindcss';

@layer components {
  /* Tailwind component classes */
  .btn-default {
    background-color: rgb(105,192,172);
     border-color: rgb(105,192,172) ; 
    @apply  
      cursor-pointer
      border-1
      px-4
      py-1.5
      text-white
      font-semibold
      rounded-lg
      shadow-lg
      hover:bg-[rgb(245,246,239)]
      hover:text-[rgb(105,192,172)]
      hover:border-[rgb(105,192,172)]
      hover:border-1
      transition-colors
      flex
      items-center
      justify-center
      gap-2
      w-full
      sm:w-auto
      whitespace-nowrap;
  }
.btn-header {
    background-color: rgb(105,192,172);
    @apply  
      cursor-pointer
      px-4
      py-3
      text-white
      text-sm
      font-semibold
      rounded-lg
      shadow-lg
      hover:bg-[rgb(60,150,145)]
      transition-colors
      focus:outline-none
      focus:ring-2
      flex
      justify-center
      items-center
      gap-2
      whitespace-nowrap;
  }
  .btn-header1 {
    background-color: rgb(245,246,239);
    border-color: rgb(105,192,172) ;
   
    @apply  
      cursor-pointer
      px-4
      py-3
      border-1
      text-[rgb(105,192,172)]
      text-sm
      font-semibold
      rounded-lg
      shadow-lg
      hover:bg-[rgb(105,192,172)]
      hover:text-[rgb(245,246,239)]
      transition-colors
      focus:outline-none
      focus:ring-2
      flex
      justify-center
      items-center
      gap-2
      whitespace-nowrap;
  }

  .container-logo {
  @apply 
    flex
    items-center
    justify-start
    px-4

    ;
}
.background {
  @apply 
    bg-[rgb(245,246,239)]
   
    ;
}

.bordergradient {
  
  border:  solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #93c463, #6884c2, #ea5160) border-box;
  @apply 
  border-2
    ;
}

.textgradient {
  background: linear-gradient(to right, #93c463, #6884c2, #ea5160);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}

}
