@import 'tailwindcss';

@layer components {
  /* Tailwind component classes */
  .btn-default {
    background-color: rgb(105,192,172);
    @apply  
      cursor-pointer
      px-4
      py-1.5
      text-white
      font-semibold
      rounded-lg
      shadow-lg
      hover:bg-[rgb(60,150,145)]
      transition-colors
      focus:outline-none
      focus:ring-2
      focus:ring-blue-500
      focus:ring-offset-2
      flex
      items-center
      justify-center
      gap-2
      w-full
      sm:w-auto
      whitespace-nowrap;
  }
.btn-header {
    background-color: rgb(105,192,172);
    @apply  
      cursor-pointer
      px-4
      py-1.5
      text-white
      text-xs
      font-semibold
      rounded-lg
      shadow-lg
      hover:bg-[rgb(60,150,145)]
      transition-colors
      focus:outline-none
      focus:ring-2
      flex
      justify-center
      items-center
      gap-2
      whitespace-nowrap;
  }
  .container-logo {
  @apply 
    flex
    items-center
    justify-start
    px-4

    ;
}
.background {
  @apply 
    bg-[rgb(245,246,239)]
   
    ;
}


}
